![](https://media.giphy.com/media/ccRMvuh3PeuSGgOWVx/giphy.gif)

Remember the rules of ~Fight~ Code Club:
1. ALWAYS DOCUMENT
2. Cite resources that you use (paste links)
3. Include the names people who you worked with
4. Be neat and organized

# Question 1
Identify the lists below. If they are a list, explain how you know this (syntax or function that you used). If it is not a list, tell me what it is and explain how you know this.

1. `np.std()`
2. `print(['hello', 67, 85, '25'])`
3. `['fall','spring','summer','winter']`
4. `{'a':1, 'b':2, 'c': 3, 'd':4, 'e':5, 'g':6}`
5. `[[1,45],[56,89],[88,45]]`
6. `('August','September', 'October','November','December')`

In [4]:
import numpy as np

In [5]:
#1
np.std() # it is a function to calculate the standard deviation of a column in the data frame. 
# since np is not defined here, the code did not return anything.

TypeError: _std_dispatcher() missing 1 required positional argument: 'a'

In [7]:
#2
type(print(['hello', 67, 85, '25'])) # with the command print, it returns a nontype. 
type(['hello', 67, 85, '25']) # by removing the print comand, the item is considered as a list.

['hello', 67, 85, '25']

list

In [9]:
#3
type(['fall','spring','summer','winter'])
# this is a list.

list

In [10]:
#4
type({'a':1, 'b':2, 'c': 3, 'd':4, 'e':5, 'g':6})
# the type function shows that it is not a list, but a dictionary.

dict

In [11]:
#5
type([[1,45],[56,89],[88,45]])
# this is a list.

list

In [12]:
#6
type(('August','September', 'October','November','December'))
# the type function shows that this is a tuple, which is immutable whereas list is mutable.

tuple

Source:    
Type Function: https://www.geeksforgeeks.org/python-type-function/

## Question 2

1. Write a python script that prints 'even' for every even number 
2. and creates a new list of even numbers (using list comprehension)

using the series: [1,2,3,7,9,34,56,70,90,123,136,148,156]

In [16]:
#1
numbers = [1,2,3,7,9,34,56,70,90,123,136,148,156]

for i in numbers: # for every item in the list numbers
    if i % 2 == 0: # devide i by 2, if the remainder is 0, print i is even. 
        print(i,"is even")

2 is even
34 is even
56 is even
70 is even
90 is even
136 is even
148 is even
156 is even

In [15]:
# this is another way to do qustion 1
numbers = [1,2,3,7,9,34,56,70,90,123,136,148,156]
even = [2,34,56,70,90,136,148,156] #create another list with all the even numbers

for i in numbers:
    if i in even: # if the item in "numbers" is also in the list "even," print "i is even."
        print(i,"is even.")

2 is even.
34 is even.
56 is even.
70 is even.
90 is even.
136 is even.
148 is even.
156 is even.

In [ ]:
#2 Create a new list of even numbers using list comprehension

numbers = [1,2,3,7,9,34,56,70,90,123,136,148,156]
even = [] # create an empty list called even

for i in numbers:  # for every item in the list numbers, if i divided by 2 ends up with no remainder, add i to the list "even"
    if i % 2 == 0:
        even.append(i)

print(even) # print the list "even"

Source:    
List comprehension: https://www.w3schools.com/python/python_lists_comprehension.asp

## Question 3

Write a script that skips vowels from the following string: "Python is for everyone!"

Be sure that this outputs in one string or list in one line.

In [27]:
sentence = "Python is for everyone!" # create a string
chars = list(sentence) # split the string into letters and create a list of the letters
for i in chars: # for each letters in the list, if the letter is within the vowel list, remove the letter. 
    if i in ['a', 'e', 'i', 'o', 'u']:
        chars.remove(i)
print(chars) # print the list with all vowels removed

['P', 'y', 't', 'h', 'n', ' ', 's', ' ', 'f', 'r', ' ', 'v', 'r', 'y', 'n', '!']

Source:    
Converting strings to lists: https://www.techiedelight.com/convert-string-to-list-of-characters-python/     
Removing items from list: https://www.programiz.com/python-programming/methods/list/remove

## Question 4

Use a numpy function that randomly generates numbers in an array that has the shape(8,8)

In [30]:
import numpy as np
random = np.random.randint(1,100, size=(8,8)) # generate an array with 8 columns and 8 rows, randomly fill the array with numnbers from 1 to 100
random # print the array

array([[57, 55, 87, 16,  8, 89, 88, 25],
       [28, 16,  3, 69,  3, 52, 74, 36],
       [81,  4, 79, 19, 51, 91, 52, 77],
       [94, 44,  8, 41, 94, 22, 59, 96],
       [ 8, 21, 61,  2, 80, 35, 52, 99],
       [74, 56, 43, 39, 39, 29, 81, 13],
       [79, 17,  6, 84, 27, 40, 79, 19],
       [ 7, 49, 69, 45, 26, 23, 34, 70]])

## Question 5
Using the following arrays:

a = np.array([45,86,78,300,586,686,486,794,486,58,77,93,55,83,136])

b = np.array([45,67,239,555,597,264,908,562,44,58,39,57,62,58,224])

Write a python code using **numpy** that:
   1. calculates the difference between the minimum and maximum number for each earray
   2. calculates the 75th percentile for each array
   3. calculates the mean and standard deviation for each array
   4. calculates the correlation coefficient between the two arrays
    
Please document what those numbers are in your answer. 

Hint: the functions for these statistics can easily be found in the lecture slides and any reference guide to python

In [ ]:
#1
# creating array a and b
a = np.array([45,86,78,300,586,686,486,794,486,58,77,93,55,83,136])
b = np.array([45,67,239,555,597,264,908,562,44,58,39,57,62,58,224])
# np.amax(a) takes the highest value in array a, np.amin(a) takes the lowest value in array a. 
answer1a = np.amax(a) - np.amin(a)
print("The difference between the minimum and maximum number for array a is",answer1a)
answer1b = np.amax(b) - np.amin(b)
print("The difference between the minimum and maximum number for array b is",answer1b)

In [37]:
#2
answer2a = np.percentile(a, 75) # np.percentile function takes the 75th percentile in array a
print("The 75th percentile for array a is",answer2a)
answer2b = np.percentile(b, 75)
print("The 75th percentile for array b is",answer2b)

The 75th percentile for array a is 486.0
The 75th percentile for array b is 409.5

In [40]:
#3
answer3a_mean = round(np.mean(a),2) # numpy.mean(a) calculates the mean of array a, and then the result is rounded to 2 decimal places
print("The mean of array a is", answer3a_mean)
answer3b_mean = round(np.mean(b), 2)
print("The mean of array b is", answer3b_mean)
answer3a_std = round(np.std(a),2) # numpy.std(a) calculates the standard deviation of array a, and then the result is rounded to 2 decimal places.
print("The standard deviation of array a is", answer3a_std)
answer3b_std = round(np.std(b),2) 
print("The standard deviation of array b is", answer3b_std)

The mean of array a is 269.93
The mean of array b is 251.93
The standard deviation of array a is 255.04
The standard deviation of array b is 265.01

In [42]:
#4 Coefficient Correlation
print(np.corrcoef(a,b))

[[1.         0.65399586]
 [0.65399586 1.        ]]

Source:   
Calculating maximums and minimums using the numpy function: https://numpy.org/doc/stable/reference/generated/numpy.amax.html     
Calculating percentiles using the numpy function: https://www.geeksforgeeks.org/numpy-percentile-in-python/      
Rounding numbers: https://www.w3schools.com/python/ref_func_round.asp     
Calculating means using the numpy function: https://numpy.org/doc/stable/reference/generated/numpy.mean.html   
Calculating the standard deviation using the numpy function: https://numpy.org/doc/stable/reference/generated/numpy.std.html   Calculating the correlation coefficient using the numpy function: https://realpython.com/numpy-scipy-pandas-correlation-python/

## Question 6

1. Import the data set "moveidataset.csv"
2. Find out the average revenue for movies that start with the letter "s"
3. Create a for loop that calculates the average earnings for movies that start with each letter of the alphabet (ie average for movies that start with a, average for movies that start in b).  Make sure the averages are stored in one list.
4. Slice the above list so that you show the average earnings for movies that start with the letter l through p.
5. Write a for loop that prints out the first five movies of each letter of the alphabet. Use a nested loop.
6. What is the difference in average movie earnings between movies that were turned into a novel compared to movies that were note turned into a novel (ie a movie that that was turned into novel is where novel = 1)?
7. Create a new variable (name it whatever you want) the is the ratio of revenue over budget.
8. Export your new dataset into your repo folder with the name "newmovieds.csv"

In [29]:
#1 Import the data set "moveidataset.csv"
import pandas as pd
from pathlib import Path, PureWindowsPath
movie = pd.read_csv('C:\\Users\Owner\Documents\ECO 590\moviedataset.csv')
movie.head()

   Unnamed: 0                  Film    Budget    Revenue  Novel
0           0  (500) Days of Summer   7500000   60722734    0.0
1           1   10 Cloverfield Lane  15000000  108286421    0.0
2           2             12 Rounds  20000000   17280326    0.0
3           3      12 Years a Slave  20000000  187000000    1.0
4           4             127 Hours  18000000   35692920    0.0

In [59]:
#2 Find out the average revenue for movies that start with the letter "s"
movie1 = movie[movie['Film'].str[0] == "S"] # create a sub dataframe with all the rows in Film that starts with S, name it as movie1
movie1
print("The average revenue of the movies that starts with the letter 'S' is",movie1["Revenue"].mean())

The average revenue of the movies that starts with the letter 'S' is 183053896.7798742

In [10]:
#3 Create a for loop that calculates the average earnings for movies that start with each letter of the alphabet
import string
import pandas as pd
alphabet = string.ascii_uppercase # create a string with all the alphabets
alphabet = list(alphabet) # change the string into a list with all the alphabets
for i in alphabet: # for each letter in the list "alphabet"
    movie = pd.read_csv('C:\\Users\Owner\Documents\ECO 590\moviedataset.csv') # read the movie data
    movie = movie[movie['Film'].str[0] == str(i)] # only keep the movies that start with the letter
    print(str(i),str(movie["Revenue"].mean())) # calculate the mean revenue of the movies that start with the letter, print out the result

A 141851810.38613862
B 115126954.2244898
C 139677697.8
D 144954632.1025641
E 107740125.48648648
F 191590776.3859649
G 171024419.0
H 200709787.28333333
I 256005429.71153846
J 157392149.35135135
K 222097121.27272728
L 110810060.88235295
M 185046766.37373737
N 141803391.36842105
O 111932473.36
P 174440945.0
Q 148462543.0
R 148406492.39344263
S 183053896.7798742
T 170073302.4013921
U 100198027.30434783
V 111626354.28571428
W 128565490.6557377
X 495568821.0
Y 103577446.44444445
Z 203026908.125

In [14]:
#4
alphabet = string.ascii_uppercase # create a string of all alphabets
alphabet = list(alphabet) # change the string to a list of all alphabets
for i in alphabet[11:16]: # for each letter from letter L to P
    movie = pd.read_csv('C:\\Users\Owner\Documents\ECO 590\moviedataset.csv') # read the movie data
    movie = movie[movie['Film'].str[0] == str(i)] # only keep the movies that start with the letter
    print(str(i),str(movie["Revenue"].mean())) # calculate the mean revenue of the movies that start with the letter

L 110810060.88235295
M 185046766.37373737
N 141803391.36842105
O 111932473.36
P 174440945.0

In [17]:
#5 Write a for loop that prints out the first five movies of each letter of the alphabet. Use a nested loop.
import string
import pandas as pd
alphabet = string.ascii_uppercase # create a list of all alphabets
alphabet = list(alphabet)
for i in alphabet: # for each letter in the list alphabet
    movie = pd.read_csv('C:\\Users\Owner\Documents\ECO 590\moviedataset.csv') # read the movie data
    movie = movie[movie['Film'].str[0] == str(i)] # only keep movies that start with the letter
    print(movie["Film"].head(5)) # show the first 5 observations in the movies that start with the letter

34        A Cinderella Story
35       A Cure for Wellness
36           A Dog's Purpose
37    A Good Day to Die Hard
38               A Good Year
Name: Film, dtype: object
135           Babel
136     Baby Driver
137       Baby Mama
138    Babylon A.D.
139     Bad Boys II
Name: Film, dtype: object
233                   Cabin Fever
234                Calendar Girls
235      Capitalism: A Love Story
236                        Capote
237    Captain America: Civil War
Name: Film, dtype: object
318        Daddy Day Camp
319        Daddy Day Care
320          Daddy's Home
321    Dallas Buyers Club
322      Dan in Real Life
Name: Film, dtype: object
396           Eagle Eye
397       Earth to Echo
398    Eastern Promises
399              Easy A
400       Eat Pray Love
Name: Film, dtype: object
433      Fahrenheit 9/11
434    Failure to Launch
435       Fantastic Four
436       Fantastic Four
437    Fantastic Mr. Fox
Name: Film, dtype: object
490                        G-Force
491          G.I. Joe: Retaliation
492    G.I. Joe: The Rise of Cobra
493                          Gamer
494              Gangs of New York
Name: Film, dtype: object
534              Hacksaw Ridge
535              Hail, Caesar!
536                  Hall Pass
537    Halloween: Resurrection
538                    Hancock
Name: Film, dtype: object
594                     I Am Legend
595                I Am Number Four
596    I Don't Know How She Does It
597            I Know Who Killed Me
598                 I Love You, Man
Name: Film, dtype: object
646                       J. Edgar
647                   Jack Reacher
648    Jack Reacher: Never Go Back
649      Jack Ryan: Shadow Recruit
650                  Jack and Jill
Name: Film, dtype: object
683           K-19: The Widowmaker
684         Katy Perry: Part of Me
685                          Keanu
686    Keeping Up with the Joneses
687                       Kick-Ass
Name: Film, dtype: object
705           La La Land
706            Labor Day
707            Ladder 49
708    Lady in the Water
709     Lakeview Terrace
Name: Film, dtype: object
756             MacGruber
757               Machete
758         Machete Kills
759    Mad Max: Fury Road
760            Madagascar
Name: Film, dtype: object
855          Nacho Libre
856         Nanny McPhee
857    Napoleon Dynamite
858                 Narc
859    National Treasure
Name: Film, dtype: object
893            Oblivion
894            Obsessed
895    Ocean's Thirteen
896      Ocean's Twelve
897              Oculus
Name: Film, dtype: object
918    P.S. I Love You
919                 P2
920        Pacific Rim
921         Paddington
922                Pan
Name: Film, dtype: object
986      Quantum of Solace
987             Quarantine
988                Quartet
989         Queen of Katwe
990    Queen of the Damned
Name: Film, dtype: object
991                  R.I.P.D.
992                        RV
993    Race to Witch Mountain
994            Racing Stripes
995                     Radio
Name: Film, dtype: object
1052      S.W.A.T.
1053    Safe Haven
1054    Safe House
1055        Sahara
1056          Salt
Name: Film, dtype: object
1211                    TMNT
1212                Table 19
1213    Take Me Home Tonight
1214           Take the Lead
1215                   Taken
Name: Film, dtype: object
1642                   U2 3D
1643             Ultraviolet
1644                Unbroken
1645    Under the Tuscan Sun
1646      Undercover Brother
Name: Film, dtype: object
1665                                 V for Vendetta
1666                                        Vacancy
1667                                       Vacation
1668                                Valentine's Day
1669    Valerian and the City of a Thousand Planets
Name: Film, dtype: object
1679                                W.
1680                        Waiting...
1681                          Waitress
1682    Walk Hard: The Dewey Cox Story
1683                     Walk the Line
Name: Film, dtype: object
1740      X-Men Origins: Wolverine
1741             X-Men: Apocalypse
1742    X-Men: Days of Future Past
1743            X-Men: First Class
1744         X-Men: The Last Stand
Name: Film, dtype: object
1745                         Year One
1746                          Yes Man
1747                        Yogi Bear
1748                        You Again
1749    You Don't Mess with the Zohan
Name: Film, dtype: object
1754    Zack and Miri Make a Porno
1755              Zero Dark Thirty
1756                        Zodiac
1757                    Zombieland
1758                     Zookeeper
Name: Film, dtype: object

In [25]:
#6 What is the difference in average movie earnings between movies that were turned into a novel compared to movies that were not turned into a novel
import pandas as pd
movie = pd.read_csv('C:\\Users\Owner\Documents\ECO 590\moviedataset.csv') # read the movie data
# create a new dataframe called movie1, in which I grouped the movie datasets by "Novel", and calculate the mean when Novel = 1 and Novel = 0.
# Because the result is presented in scientific notation, I used the round function to turn off the scientific notation.
movie1 = movie[["Novel","Revenue"]].groupby(['Novel']).mean().reset_index().round(0)
# movie1.loc select the value in Revenue in which Novel = 1 and Novel = 0. I took the difference and store in "average"
average = movie1.loc[1,"Revenue"] - movie1.loc[0,"Revenue"]
# printing out the answer
print("On average, the revenue for movies turned in to novels is", average, "more than movies that did not turn into novels.")

On average, the revenue for movies turned in to novels is 22046820.0 more than movies that did not turn into novels.

In [30]:
#7 Create a new variable (name it whatever you want) the is the ratio of revenue over budget.
# read the movie data
movie2 = pd.read_csv('C:\\Users\Owner\Documents\ECO 590\moviedataset.csv')
# create a new column called "Revenue Over Budget", in which I divided each observation in the column Revenue by the column Budget.
movie2["Revenue Over Budget"] = movie2["Revenue"] / movie2["Budget"]
# show the first 5 observation in the dataframe with the new column. 
movie2.head()

,Unnamed: 0,Film,Budget,Revenue,Novel,Revenue Over Budget
0,0,(500) Days of Summer,7500000,60722734,0.0,8.096365
1,1,10 Cloverfield Lane,15000000,108286421,0.0,7.219095
2,2,12 Rounds,20000000,17280326,0.0,0.864016
3,3,12 Years a Slave,20000000,187000000,1.0,9.350000
4,4,127 Hours,18000000,35692920,0.0,1.982940

In [32]:
#8 Export your new dataset into your repo folder with the name "newmovieds.csv"
movie2.to_csv("movie_Assignment1.csv")

Source:    
Select the rows based on the first letter: https://stackoverflow.com/questions/35552874/get-first-letter-of-a-string-from-column     
Create a list of alphabet: https://www.kite.com/python/answers/how-to-make-a-list-of-the-alphabet-in-python   
loc function: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html    
exporting dataframes: 
https://medium.com/@kasiarachuta/importing-and-exporting-csv-files-in-python-7fa6e4d9f408